**/Typescript/ExampleCode/*.js
**/nestjs_examples/starter/node_modules/
**/nestjs_examples/cats-app/node_modules/
**/nestjs_examples/mysqldb-typeorm/node_modules/
**/nestjs_examples/authentication/node_modules/
